<header>
    <h1>Weather</h1>
</header>

<form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Ville</mat-label>
            <input matInput placeholder="Paris" formControlName="cityName" (keyup)="onKeyUp($event)">
        </mat-form-field>

        <button type="submit" mat-flat-button color="primary" [disabled]="!cityForm.valid">Rechercher</button>
    </div>

    <div class="buttons" *ngIf="cities.length > 1">
        <button type="button" mat-flat-button color="primary" (click)="refreshAll()">Tout rafraîchir</button>
        <button type="button" mat-flat-button color="warn" (click)="deleteAll()">Tout supprimer</button>
    </div>
</form>

<app-city-list
    (newCityEvent)="saveCity($event)"
    [cityName]="searchCity">
</app-city-list>

<div class="error" *ngIf="error">
    La ville figure déjà dans la liste.
</div>

<div class="grid-container">
    <app-weather-item
        *ngFor="let city of cities"
        (refreshEvent)="refreshEvent($event)"
        (deleteEvent)="deleteEvent($event)"
        [weather]="city">
    </app-weather-item>
</div>